
body {
    font-family: 'Source Sans Pro';
}

@font-face {
    font-family: 'holberton_school-icon';
    src: url(/fonts/fonts/holberton_school-icon.svg)
}

/* Background Images */

.bg-homepage-image {
    background-image: url(images/pic_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-header-image {
    background-image: url(/images/pic_1.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.bg-free-membership {
    background-color: #071629;
}

.bg-price-image {
    background-image: url(/images/pic_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-courses-header {
    background-image: url(/images/pic_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-purple {
    background: #C271FF;
}

.bg-footer {
    background: #071629;
}


/** Hamburger Menu pre-click **/
.holberton_school-icon-menu {
    color: #FFFFFF;
    font-size: larger;
}


.nav-link:hover, .nav-link:focus {
    color: #C271FF !important;
    text-decoration: underline !important;
}

.home-banner-heading {
    font-size: 120px;
}

.home-banner-subheading {
    font-size: 16px;
}

#banner-heading {
    font-size: 32px;
}

.img-smile-logo {
    max-width: 100%;
    width: 37px;
    height: 30px;
}


.coin-font {
    font-family: 'Coiny';
    font-size: 32px;
}

.footer-icon {
    height: 30px;
}

.coin-font-nav {
    font-family: "Coiny";
    font-size: 18px;
}

.header-button {
    background: #C271FF;
    width: 162px;
    height: 44px;
    font-size: 14px;
}

.header-button:hover, .header-button:active {
    opacity: 0.9;
}

.learn-pros-header {
    font-size: 32px;
}

.learn-span {
    color: #C271FF;
    font-size: 32px;
}

.pro-image {
    height: 150px;
    width: 150px;
}

.pro-name {
    font-size: 18px;
}

.pro-award {
    font-size: 16px;
}

.popular-video-heading {
    font-size: 32px;
}

.popular-span {
    color: #C271FF;
    font-size: 32px;
}

.free-membership-span {
    color: #C271FF;
    font-size: 32px;
}

.free-membership-heading {
    font-size: 32px;
    font-weight: 300;
}

.latest-videos-heading {
    color: #071629;
    font-size: 32px;
}

.latest-videos-span {
    color: #C271FF;
    font-size: 32px;
}

.smile-icon {
    width: 45px;
    height: 36px;
}

.smile-heading {
    font-size: 18px;
}

.smile-subheading {
    font-size: 14px;
}

.pricing-button {
    width: 162px;
    height: 44px;
    background-color: #C271FF;
}

.pricing-button:hover, .pricing-button:active {
    opacity: 0.9;
}

.monthly-price-text {
    opacity: 0.503;;
}

.pricing-options {
    font-size: 18px;
}

.signal-logo {
    width: 88px;
    height: 35px;
}

.testimonial-quote {
    font-size: 22px;;
}

#testimonial-image {
    height: 160px;
    width: 160px;
}

#lucy-testimonial-image {
    height: 160px;
    width: 160px;
}

.testimonial-author {
    font-size: 22px;
}

.carousel-container {
    max-width: 255px;
}

.carousel-button {
    height: 50px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
}

.faq-label {
    font-size: 4rem;
}

.faq-heading {
    font-size: 1.5rem
}

.faq-description {
    font-size: 1rem;
    opacity: 51%;
    width: 73%;
}

.copyright-text {
    opacity: 35%;
}

.course-banner-header {
    font-family: 'Coiny';
    font-size: 32px;
}

.course-header-smile {
    font-family: 'Coiny';
    color: #C271FF;
}

#keyword-text {
    opacity: 50%;
}

.form-select {
    opacity: 50%;
}

.video-heading {
    opacity: 30%;
}

.card-img-top {

}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
    opacity: 50%;
}

.play-button {
    height: 64px;
    width: 64px;
    opacity: 70%;
}
.massey-head {
    height: 50px;
    width: 50px;   
}

.massey-title {
    color: #C271FF;
    font-size: 14px;
}

.star {
    height: 20px;
    width: 20px;
}

.video-length-text {
    font-size: 14px;
    color: #C271FF;
}

.video-thumbnail {
    width: 255px;
    height: 154px;
}
